Source: libdisplaycore-font-pearl8x8
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-font-pearl8x8
Section: main
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Fonts
Depends: libdisplaycore-core
Provides: PEARL8x8.h
Description: PEARL8x8
